<app-menu ></app-menu>


<div class="container">
    <div class="row">    
        <div class="col-sm-12">
            <a [routerLink]="['/contabilidad']" routerLinkActive="router-link-active"  > <i class="far fa-arrow-alt-circle-left"></i> Contabilidad</a>
            | <a  (click)="nuevo()" class="fas fa-plus-circle" style="font-size: 12px; cursor: pointer;" > Nuevo</a>
        </div>
        <hr />
        <div class="col-sm-12">
            <table class="table tablScroll">
                <thead>
                    <tr>
                        <td>NOMBRES</td>
                        <td>CORREO</td>
                        <td>CELULAR</td>
                        <td>Día (PAGO)</td>
                        <td>MONTO (PAGO)</td>
                        <td>Ver/Editar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstEntEgreso; let i = index" [ngClass]="{'select': filaSelect == i }" >
                        <td>{{item.nombres}}, {{item.apPaterno}} {{item.apMaterno}}</td>
                        <td>{{item.correo}}</td>
                        <td>{{item.celular}}</td>
                        <td>{{item.diaPagoPeriodico}}</td>
                        <td>{{item.montoPagoPeriodico}}</td>
                        <td style="cursor: pointer; text-align: center;" 
                        (click)="editar(item.idEntidadEgreso, item.nombres, item.apPaterno, item. apMaterno, item.correo, 
                        item.celular,item.diaPagoPeriodico, item.montoPagoPeriodico, item.pagoPeriodico)" >
                            <i class="far fa-edit"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>


<div class="modal" [ngStyle]="{'display': mdlpen == true ? 'block' : 'none' }"   >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" >
            <!-- Modal Header -->
          <div class="modal-header">
            <h3 class="modal-title">Registrar</h3>
            <button type="button" class="close" (click)="mdlpen = false">x</button>
          </div>

          <div class="modal-body" >
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <p>Nombres:</p>
                        <input type="text" class="form-control" [(ngModel)]="entEEditarNuevo.Nombres">
                    </div>
                    <div class="form-group">
                        <p>Apellidos Materno:</p>
                        <input type="text" class="form-control" [(ngModel)]="entEEditarNuevo.ApMaterno" >
                    </div>
                    <div class="form-group">
                        <p>Correo:</p>
                        <input type="text" class="form-control" [(ngModel)]="entEEditarNuevo.Correo" >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <p>Apellidos paternos:</p>
                        <input type="text" class="form-control" [(ngModel)]="entEEditarNuevo.ApPaterno" >
                    </div>
                    <div class="form-group">
                        <p>Celular:</p>
                        <input type="text" class="form-control" [(ngModel)]="entEEditarNuevo.Celular" >
                    </div>
                    <div class="form-group">
                        <label style="cursor: pointer;" >
                            <input type="checkbox" (click)="activarCamposPagoPeriodico();" [(ngModel)]="entEEditarNuevo.PagoPeriodico" > Pago periodico?
                        </label>
                    </div>
                    <div class="row"  >
                        <div class="col-sm-6" [ngStyle]="{display: entEEditarNuevo.PagoPeriodico == true ? 'block' : 'none'}">
                            <p style="display: inline; ">Día </p> 
                            <input type="number" class="form-control" style="width: 70%; display: inline; " [(ngModel)]="entEEditarNuevo.DiaPagoPeriodico" >
                        </div>
                        <div class="col-sm-6" [ngStyle]="{display: entEEditarNuevo.PagoPeriodico == true ? 'block' : 'none'}">
                            <p style="display: inline; ">Monto </p>
                            <input type="number" class="form-control" style="width: 70%; display: inline;" [(ngModel)]="entEEditarNuevo.MontoPagoPeriodico" >
                        </div>                       
                    </div>
                </div>
            </div>                
          </div>
          <div class="modal-footer">
              <button type="button" (click)="guardar()" class="btn btn-success" >Guardar</button>  
              <button  type="button" class="btn btn-danger" (click)="mdlpen = false" >Cancelar</button>
          </div>
        </div>
    </div>
</div>