<app-menu ></app-menu>


<div class="row " style="margin-right: 0px;">
    <div class="col-sm-1">
        <button type="button" [routerLink]="['/entidadEgreso']" routerLinkActive="router-link-active" class="btn btn-success"> Mantenimiento entidad Egreso</button>

        <hr />
        <a class="btn btn-success"   (click)="NuevoEgreso()" ><i class="fas fa-plus-circle"></i> Nuevo Egreso</a>
    </div>
    <div class="col-sm-11" >
        <div class="row padd1">
            
                <div class="col-sm-4">
                    <p>Nombres:
                        <select class="form-control" [(ngModel)]="paramBusquedaEgresos.idEntEgre" >
                            <option value="0" >Todos</option>
                            <option *ngFor="let item of lstEntgreso" value="{{item.idEntidadEgreso}}" >{{item.nombres}}, {{item.apPaterno}} {{item.apMaterno}} </option>
                        </select>
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>Monto desde: <input type="number" class="form-control" [(ngModel)]="paramBusquedaEgresos.montoDesde" placeholder="Todos"></p>
                    
                </div>
                <div class="col-sm-4">
                    <p>Monto hasta: <input type="number" class="form-control" [(ngModel)]="paramBusquedaEgresos.montoHasta" placeholder="Todos"></p>
                    
                </div>
                
                <div class="col-sm-4">
                    <p>Periodo desde: 
                        <input type="date" class="form-control" [(ngModel)]="paramBusquedaEgresos.fDesde" />
                    </p>
                </div>
                <div class="col-sm-4">
                        <p>Periodo, hasta: 
                            <input type="date" class="form-control" [(ngModel)]="paramBusquedaEgresos.fHasta" />
                        </p>                    
                </div>
                <div class="col-sm-4 padd1">
                    
                        <button (click)="listarEgresos(1)" class="btn btn-primary">Buscar</button>
                    
                </div>
        </div> 
        
        <strong style="padding: 5px;" >El monto total de los "items" mostrados es: {{totalMonto}} </strong>
        <div class="table-responsive card contentScroll" >            
            <table class="table tablScroll">
                <thead>
                    <tr>
                        <td>NOMBRES</td>
                        <td>APELLIDOS</td>
                        <td>DESSCRIPCION</td>
                        <td style="width: 6%;">FECHA</td>
                        <td style="width: 10%;">MONTO</td>
                        <td style="width: 6%;">EVIDENCIA</td>
                        <td style="width: 6%;"> NOTIFICAR</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of lstEgreso; let i = index" [ngClass]="{'select': filaSelect == i }" >
                        <td>{{item.nombreEntEgreso}}</td>
                        <td>{{item.apPaterno}} {{item.apMaterno}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.fecha | date:'dd/MM/yyyy'}}</td>
                        <td>S/. {{item.monto}}</td>
                        
                        <!--<img style="width: 30px;height:30px" *ngIf="item.evidencia" src="{{item.evidencia}}">-->
                        <td style="cursor: pointer; text-align: center;" (click)="verEvidencia(item.idEgreso)" ><i class="fas fa-eye"></i></td>
                        <td style="cursor: pointer;" (click)="notificarWsp(item.celular, item.monto, item.fecha, item.evidencia  )" > <i class="fab fa-whatsapp"></i> Notificar </td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <div>
            <ul class="pagination">
              <li class="page-item"><a class="page-link aa" (click)="listarEgresos(1)"  >Inicio</a></li>
              
              <li class="page-item" *ngFor="let item of pagEgresos" > 
                <a class="page-link aa" (click)="listarEgresos(item)"  >{{item}}</a>
              </li>
              <li class="page-item"><a class="page-link aa" (click)="listarEgresos(-1)" >Final</a></li>
            </ul>
          </div>
    </div>
    
</div>

<div class="modal"  [ngStyle]="{'display': mdlIsOpenNuevo == true ? 'block' : 'none' }" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h3 class="modal-title">Registar egreso</h3>
            <button type="button" class="close" (click)="mdlIsOpenNuevo = false">x</button>
          </div>
    
          <!--Cuerpo-->
          <div class="modal-body">
            <div class="form-group">
                <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                
                                <p>A quien abonará?  </p>
                                <select class="form-control" [(ngModel)]="regEgreso.idEntidadEgreso" (change)="selectEntEgreso()" >
                                    <option value="0" disabled>Elegir una opción</option>
                                    <option *ngFor="let item of lstEntgreso" value="{{item.idEntidadEgreso}}" >{{item.nombres}}, {{item.apPaterno}} {{item.apMaterno}} - {{item.diaPagoPeriodico}} </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Comentario</p>
                                <textarea rows="4" class="form-control" [(ngModel)]="regEgreso.descripcion" ></textarea>
                            </div>
                            <div class="form-group">
                                <p >Monto <span *ngIf="entEgresoSelect" [ngStyle]="{'display': entEgresoSelect.diaPagoPeriodico == null?'none': 'block'}" >Día periodico de pago: {{entEgresoSelect.diaPagoPeriodico}}</span></p>
                                <input type="number" class="form-control" [(ngModel)]="regEgreso.monto" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            
                            <div class="form-group">
                                <div class="" style="height: 20rem;width:370px;overflow-x :scroll ;overflow-y: scroll;">
                                    <image-cropper   [maintainAspectRatio]="false"

                                    [imageChangedEvent]="imageChangedEvent"                        
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()"
                                    (loadImageFailed)="loadImageFailed()">
                                    </image-cropper>
                                    <label class="custom-file-upload mr-1">
                                        <input type="file" (change)="fileChangeEvent($event)">
                                        
                                    </label>
                                <!--<button (click)="sendImage()" type="button" class="btn btn-primary btn-sm mr-1">Enviar img</button>-->
                                </div >
                                
                            </div>                            
                        </div>
                </div>
            </div>
          </div>   

          <div class="modal-footer">
            <button type="button" (click)="sendImage_insertarEgreso()" class="btn btn-success" >Guardar</button>  
            <button  type="button" class="btn btn-danger" (click)="mdlIsOpenNuevo = false" >Cancelar</button>
          </div>
        </div> 
    </div>
</div>

<div class="modal" [ngStyle]="{'display': mdlIsOpenZoomImg == true ? 'block' : 'none' }"  (click)="mdlIsOpenZoomImg = false" >
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-body" style="text-align: center;" >
                <img *ngIf="imgSelect != null" src="{{imgSelect}}" style="width: 100%;" >
            </div>
        </div>
    </div>
</div>

<!-- The Modal load-->
<div class="modal"   [ngStyle]="{'display': mdlLoad == true ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: transparent; border: none;" >
  
  
        <!-- Modal body -->
        <div class="modal-body" style="background-color: transparent; border: none;">
          <img src="assets/img/gif_3.gif" width="20%" style="padding-top: 50%;" >
        </div>  
  
      </div>
    </div>
  </div>