 .contentScroll{   
    max-height: 400px;
  }

  .tablScroll{
    overflow-y: scroll;
    overflow-x: scroll;
  }

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 0px;
}*/
/* Handle */
::-webkit-scrollbar-thumb {
  background: #148BFF; 
  border-radius: 1px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

