<app-menu ></app-menu>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Usuario</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Perfil</a>
    </li>
    
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        
        <div class="col-md-12">
           <a class="fas fa-plus-circle" style="cursor: pointer; font-size: 20px; padding: 13px;" (click)="nuevoUsuario()" >Nuevo usuario</a> 
            <br>
            <div class="table-responsive card">
                <table class="table">
                    <thead>
                        <th>Nombres</th>
                        <th>Correo</th>
                        <th>Usuario</th>
                        <th>Perfil</th>
                        <th>Sede</th>
                        <th style="text-align: center;">Editar</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstUsuarios; let i = index" [ngClass]="{'select': filaSelect == i }" >
                            <td>{{item.nombres}}, {{item.apPaterno}} {{item.apMaterno}}</td>
                            <td>{{item.correo}}</td>
                            <td>{{item.usuarioSistema}}</td>
                            <td>{{item.nPerfil}}</td>
                            <td>{{item.nSede}}</td>
                            <td style="cursor: pointer; text-align: center;" (click)="editarUsuario(item.idUsuario,item.nombres, item.apPaterno, item.apMaterno, item.correo, item.idPerfil, item.idSede, item.usuarioSistema)" > <i class="fas fa-pen-square"></i> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        - mantenimiento de perfiles -
    </div>
    
</div>


<div class="modal" [ngStyle]="{'display': mdUsuario == true ? 'block' : 'none' }" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> {{msjUsuario}}</h4>
          <button type="button" class="close" (click)="mdUsuario = false">x</button>
        </div>
  
        <!--Cuerpo-->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 form-group">
                <span>Nombres </span>
                <input type="text" class="form-control txtModalUsuario"  [(ngModel)]="usuarioEditando.Nombres">
            </div>
            
            <div class="col-md-6 form-group">
                <span>Apellido paterno </span>
                <input type="text" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.ApPaterno">
            </div>
            <div class="col-md-6 form-group">
                <span>Apellido Materno </span>
                <input type="text" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.ApMaterno" >
            </div>
            <div class="col-md-6 form-group">
                <span>Correo </span>
                <input type="text" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.Correo" >
            </div>

            
            <div class="col-md-6 form-group">
                <span>Perfil </span>
                <select class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.idPerfil">
                    <option *ngFor="let item of lstPerfil" value="{{item.idPerfil}}" >{{item.nombre}}  </option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <span>Sede </span>
                <select class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.idSede">
                    <option *ngFor="let item of lstSede" value="{{item.idSede}}" >{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <span>Usuario </span>
                <input type="text" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.UsuarioSistema">
            </div>
            <div class="col-md-6 form-group">
                <span>Contraseña nueva</span>
                <input type="password" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.ContraseniaNueva" >
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div [ngStyle]="{'display': usuarioEditando.idUsuario != 0 ? 'block' : 'none' }">
                    <span>Contraseña anterior</span>
                    <input type="password" class="form-control txtModalUsuario" [(ngModel)]="usuarioEditando.ContraseniaAnt" >
                </div>
            </div>

          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" (click)="insertarEditarUsuario()" class="btn btn-success" >Guardar</button>  
          <button  type="button" class="btn btn-danger" (click)="mdUsuario = false" >Cancelar</button>
        </div>
      </div>
    </div>
</div>