    <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="background-color:#37434d;color:#ffffff;">
        <div class="container-fluid" >
            <a class="navbar-brand" style="color: #ffffff;"  routerLink="/inicio"  *ngIf="listaMenu ==null? false: listaMenu[0].visible" >
                <i class="fa fa-home" ></i> {{listaMenu == null ? "" : listaMenu[0].menu }}
            </a>
            <span>Biemvenida(o) {{dataUsuarioLog.nombres}} {{dataUsuarioLog.apPaterno}} {{dataUsuarioLog.apMaterno}}</span>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[4].visible">
                        <a class="nav-link active" routerLink="/planilla"  style="color:#ffffff;"  >
                            <i class="fas fa-users"></i> {{listaMenu == null ? "" : listaMenu[4].menu }}
                        </a>
                    </li>

                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[1].visible">
                        <a class="nav-link active" routerLink="/inventario"  style="color:#ffffff;"  >
                            <i class="fas fa-box-open"></i> {{listaMenu == null ? "" : listaMenu[1].menu }}
                        </a>
                    </li>

                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[3].visible">
                        <a class="nav-link active"  routerLink="/almacen" style="color:#ffffff;">
                            <i class="fab fa-buffer"></i> {{listaMenu == null ? "" : listaMenu[3].menu }}
                        </a>
                    </li>

                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==false">
                        <!--"listaMenu ==null? false: listaMenu[2].visible"-->
                        <a class="nav-link active"  routerLink="/ventas" style="color:#ffffff;">
                            <i class="fab fa-accusoft"></i> {{listaMenu == null ? "" : listaMenu[2].menu }}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[5].visible" >
                        <a class="nav-link active"  routerLink="/produccion" style="color:#ffffff;">
                            <i class="fas fa-cog"></i> {{listaMenu == null ? "" : listaMenu[5].menu }}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[6].visible" >
                        <a class="nav-link active"  routerLink="/usuario" style="color:#ffffff;">
                            <i class="fas fa-user"></i> {{listaMenu == null ? "" : listaMenu[6].menu }}
                        </a>
                    </li>
                    <li class="nav-item" role="presentation" *ngIf="listaMenu ==null? false: listaMenu[7].visible" >
                        <a class="nav-link active"  routerLink="/contabilidad" style="color:#ffffff;">
                            <i class="fas fa-money-check-alt"></i> {{listaMenu == null ? "" : listaMenu[7].menu }}
                        </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" (click)="cerrarSession()" routerLink="/autenticacion" style="color:#ffffff; cursor: pointer;">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
