 <app-menu ></app-menu>
<div class="row bodymodulo "  st>
    
    <div class="col-md-10">
        <div class="panel panel-primary">
            <div class="table-responsive card">
                <div class="panel-heading">
                    <h3> Lista de colaboradores: </h3>                    
                </div>   
                <a class="btn"  data-toggle="modal" data-target="#Modal" style="text-align: left;">
                    Registrar Nuevo <i class="fas fa-plus-circle"></i>
                </a>
                <table class="table ">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        
                        <th>Area</th>
                        <th>Detalle</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Nombre1</td>
                            <td>Apellidos</td>
                            
                            <td>RRHH</td>
                            <td><i data-toggle="modal" data-target="#Modal" style="cursor: pointer;" class="far fa-eye"></i></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Nombre2</td>
                            <td>Apellidos</td>
                            
                            <td>Sistemas</td>
                            <td><i data-toggle="modal" data-target="#Modal" style="cursor: pointer;" class="far fa-eye"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-md-2">
        <div class="card">
            <table class="table">
                <thead>
                    <th colspan="2">RESUMEN</th>
                </thead>
                <tbody>
                    <tr>
                        <td> Total colaboradores </td>
                        <td> 65 </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal " id="Modal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Registar /Editar</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
              <span>Fecha contratación </span>
              <input type="text" class="form-control" />
              
            </div>
            <div class="form-group">
                <span>Hoja de vida </span>
                <img width="5%" src="../../assets/img/Document-40.png" style="cursor: pointer;">
                
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button"  class="btn btn-success" >Guardar</button>  
          <button id="btnCerrarModalProducto" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
        
      </div>
    </div>
</div>
