<button class="btn btn-primary" (click)="genPDF()" >PDF</button>

<div class="container-fluid" id="content" >
    <div class="row mh-100vh">
        <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
            <div class="m-auto w-lg-75 w-xl-50">
                <h2 class="text-info font-weight-light mb-5"><i class="fa fa-diamond"></i>Grupo Express</h2>
                
                <form>
                    <div class="form-group"><label class="text-secondary">Usuario</label>
                        <input class="form-control"  [(ngModel)]="params.usuarioSistema" name="usuario"  type="text" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email">
                    </div> 
                    <div class="form-group"><label class="text-secondary">Contraseña</label>
                        <input class="form-control" [(ngModel)]="params.contrasenia"  name="contrasenia"  type="password" required="">
                    </div>
                    <button class="btn btn-info mt-2" (click)="login()"  >Iniciar sesión</button>
                </form>
                <!--<p class="mt-3 mb-0"><a href="#" class="text-info small">Olvido su contraseña?</a></p>-->
            </div> 
            
        </div>
        <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-image:url(&quot;assets/img/login.jpg&quot;);background-size:cover;background-position:center center;">
            <!--<p class="ml-auto small text-dark mb-2"><em>Photo by&nbsp;</em><a routerLink="/home" class="text-dark"><em>Aldain Austria</em></a><br></p>-->
        </div>
    </div> 
    <script>
        $(document).ready(function () { 
    
            console.log('ssss');
        });
    </script>
</div>

