
<app-menu id="divMenu1"  ></app-menu>


    <div class="row bodymodulo">
      <div class="col-sm-8" >
          <h3>Hacer venta :</h3>
          
        <div class="card ">
          <!--<div class="card-header">Header</div>-->
          <div class="card-body">
            <strong>Buscar Producto </strong>
            <div class="row">
              <div class="col-md-8"> 
                <label>Nombre&nbsp;</label>
                <input type="text" class="form-control" style="display: initial; width: 80%;" [(ngModel)]="params.nombreProducto" (change)="ObtenerProductos()" />
              </div>
              <div class="col-md-4"> 
                <label>Costo maximo&nbsp;</label>
                <input type="number" class="form-control" style="display: initial; width: 60%;" [(ngModel)]="params.costoMaximo" (change)="ObtenerProductos()" />
              </div>
            </div>
            <br>
            <table class="table">
              <thead>
                <th>PRODUCTO</th>
                <th>CANTIDAD</th>
                <th>COSTO UNITARIO</th>
                <th>AGREGAR</th>
              </thead>
              <tbody  >
                  <tr *ngFor="let item of lstProducto; let i = index" [ngClass]="{'select': filaSelect == i }" (click)="RowSelected(item.idProducto, i, item.unidadMedida, item.stock, item.nombre);">
                      <td>{{item.nombre}}</td>
                      <td>{{item.stock}} {{item.unidadMedida}}</td>
                      <td>{{item.simboloMoneda}} {{item.precio}} por {{item.unidadMedida}}</td>
                      <td style="cursor: pointer;" data-toggle="modal" data-target="#ModalCantidadCompra"><i class="fas fa-cart-plus" ></i></td>
                  </tr>
                  
              </tbody>
            </table>
            
          </div>
        </div>
        
        <br>

        <div class="card">
          <div class="card-body">
            <strong>Detalle de venta:</strong>
            <table class="table">
              <thead>
                  <th>PRODUCTO</th>
                  <th>CANTIDAD</th>
              </thead>
              <tbody id="tbDetalleVenta" ></tbody>
            </table>
          </div>
        </div>  
        
      </div>

      <div class="col-sm-4">
        <h4>Ventas ó ingresos</h4>
        <div class="table-responsive card">
            <div class="padd2">
                <label>Ventas: 17/02/2020 </label>
            </div>
            

            <table class="table ">
              <thead>
                <th>#</th>
                
                <th>FECHA</th>
                <th>Ver Detalle</th>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      
                      <td>23/02/2019</td>
                      <td><i class="far fa-eye"></i></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    
                    <td>23/02/2019</td>
                    <td><i class="fas fa-eye"></i></td>
                </tr>
                
                <tr>
                    <td colspan="4">
                        <ul class="pagination " >
                            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                          </ul>
                    </td>
                </tr>
              </tbody>
            </table>
            
      </div>   
    </div>

    <!-- The Modal -->
<div class="modal " id="ModalCantidadCompra">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Indique la cantidad <span><i class="fas fa-cart-plus" style="color: #28a745;"></i></span></h4>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
          <div class="form-group">
            <strong><input type="number" class="form-control" style="display:initial; width: 50% ; " [(ngModel)]="cantidadAgregar" />  {{unidadMedidaSelectt}} </strong>
          </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button"  class="btn btn-success"  (click)="Agregar_a_Detalle();" >Guardar</button>  
        <button id="btnCerrarModalCantidadCompra" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
      
    </div>
  </div>
</div>