<app-menu ></app-menu>

<div class="row" style="padding: 1%;" >
    
  <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Lista Productos</h3>
            </div>
            <div class="panel-body">
                <a class="btn" (click) ="reiniciarProducto();" >
                    Nuevo producto <i class="fas fa-plus-circle"></i>
                </a>
                <div class="card">
                  <strong style="padding-top: 8px; padding-left: 8px;">BUSCAR</strong>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        Nombre: <input type="text" placeholder="Todos" class="form-control" style="width:70%; display: inline;" [(ngModel)]="productoBusar.nomProducto"  (keyup)="obtenerProductos(1)" >
                      </div>
                      <div class="col-sm-6">
                        Categoría: 
                        <select class="form-control" style="width:70%; display: inline;" [(ngModel)]="productoBusar.idCategoriaProducto" (change)="obtenerProductos(1)" >
                          <option value="0" selected> Todos</option>
                          <option *ngFor="let item of listaCategoriaProducto" value="{{item.idCategoriaProducto}}">{{item.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="table-responsive card contentScroll">
                    <table class="table tablScroll" >
                      <thead>
                      <tr>
                        <th style="text-align: center;">Editar</th>
                        <th>PRODUCTO</th>
                        <th >STOCK <a class="aa"  [ngClass]="{'fa-angle-double-down': productoBusar.ordeby == false, 'fa-angle-double-up': productoBusar.ordeby == true }" (click)="productoBusar.ordeby = !productoBusar.ordeby; obtenerProductos(1)"></a></th>
                        <!--<th>PRECIO(compra)</th>-->
                        <th>Categoria</th>
                        <th>Costo compra</th>
                        <th style="text-align: center;">Comprar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of listaProducto; let i = index"  >
                        <!--<tr *ngFor="let item of listaProducto; let i = index" [ngClass]="{'select': filaSelect == i }" (click)="RowSelected(item.idProducto, i, item.nomProducto);"  > -->
                        <td style="text-align: center;"> <a (click)="editarProducto(item.idProducto, item.nomProducto, item.idCategoriaProducto, item.idUnidadMedida, item.precio, item.idMoneda)" class="fas fa-pen-square" style="cursor:pointer;"></a></td>
                        <td>{{item.nomProducto}}</td>
                        <td>{{item.stock}}</td>
                        <!--<td>{{item.simboloMoneda}} {{item.precio}}</td>-->
                        <td>{{item.nombreCategoria}}</td>
                        <td>S/. {{item.costoCompras}} </td>
                        <td style="text-align: center;"> <a style="cursor:pointer;" (click)="RowSelected(item.idProducto, i, item.nomProducto, item.precioUnidad, item.simboloMoneda, item.idMoneda);"  class="fas fa-shopping-basket"></a> </td>
                      </tr>                                           
                      </tbody>
                    </table>
                </div>
                <div>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link aa" (click)="obtenerProductos(1)"  >Inicio</a></li>
                    
                    <li class="page-item" *ngFor="let item of pagProducto" > 
                      <a class="page-link aa" (click)="obtenerProductos(item)"  >{{item}}</a>
                    </li>
                    
                    <li class="page-item"><a class="page-link aa" (click)="obtenerProductos(-1)" >Final</a></li>
                  </ul>
                </div>
            </div>
        </div>       
  </div>

  <div class="col-md-6">
    <div class="card padd2">
        
        
      <button class="btn btn-outline-success"  data-toggle="collapse" data-target="#demo0"> Detalle pedido: {{pedidoActual.NombrePedido}} <i class="fas fa-list"></i></button>
      <div id="demo0" class="collapse show">
        <div class="alert alert-danger" [ngStyle]="{'display': existePedido == false ? 'block' : 'none' }">Debe seleccionar un pedido para poder realizar agregar compras (al pedido).</div>
        <hr>
        <a id="ckNuevoPedido"  (click)="nuevoPedido()" class="fas fa-plus-circle" style="font-size: 12px; cursor: pointer;" >Nuevo pedido!</a>
        <div class="row">        
          <div class="col-md-9">
            <span>{{nuevoEditantoPedido}}</span>            

            <input type="text" class="form-control" style="width: 75%; display: inline;" [(ngModel)]="pedidoActual.NombrePedido">
          </div>
          <div class="col-md-3">             
            <button class="btn btn-success" style="display: inline;" (click)="guardarPedido()" >Guardar</button>
          </div>

          <div class="col-md-12">
            <br>
            <div style="max-height: 200px;" class="table-responsive card" [ngStyle]="{'display': existePedido == false ? 'none' : 'block' }">
              <table class="table tablScroll" >
                <thead>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Costo</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of litaProductosPedito" >
                      <td>{{item.nombreProducto}}</td>
                      <td>{{item.cantidad}}</td>
                      <td>S/. {{item.precio}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        
        </div>        
      </div>

      <hr>
      <button class="btn btn-outline-success"  data-toggle="collapse" data-target="#demo1">Historial de pedidos <i class="fas fa-clipboard-list"></i></button>

      <div id="demo1" class="collapse show">
        <div class="table-responsive card" style="max-height: 300px;">
          <table class="table tablScroll ">
            <thead>
            <tr>
              <th>NOMBRE</th>
              <th>FECHA</th>
              <th>Costo Total</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaPedido; let i = index"  (click)="obtenerProductosPorPedido(item.idPedido, i, item.nombrePedido);" [ngClass]="{'select': filaSelectPedido == i }"  >
                <td>{{item.nombrePedido}}</td>
                <td>{{item.fechaPedido}}</td>
                <td>{{item.costoTotal}}</td>
              </tr>
            </tbody>
          </table>
        </div>      
      </div>
    </div>       
  </div>
</div>

<!-- The Modal <div class="modal " id="ModalNuevoProducto"  [ngStyle]="{'display': mdlIsOpen ? 'block' : 'none'}">-->

  <div class="modal " id="ModalNuevoProducto" [ngStyle]="{'display': mdlIsOpen == true ? 'block' : 'none' }" >
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Registar nuevo producto</h4>
          <button type="button" class="close" (click)="mdlIsOpen = false">x</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
              <label >Producto:</label>
              <input type="text" *ngIf="product" [(ngModel)]="product.nomProducto" class="form-control" >
            </div>
            <div class="form-group">
              <label for="pwd">Unidad de medida:</label>
              <select class="form-control" [(ngModel)]="product.IdUnidadMedida"  >
                <option *ngFor="let item of listaUnidadMedida" value="{{item.idUnidadMedida}}" >{{item.unidadMedida}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Categoria</label>
              <select class="form-control" [(ngModel)]="product.idCategoriaProducto" >
                <option *ngFor="let item of listaCategoriaProducto" value="{{item.idCategoriaProducto}}">{{item.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Costo &nbsp; S/. </label>
              <input type="number" class="form-control" *ngIf="product" [(ngModel)]="product.PrecioUnidad" style="width:42%; display: inline;" >
              &nbsp;
              <!--<select class="form-control" style="width:42%; display: inline;" [(ngModel)]="product.idMoneda" >
                <option *ngFor="let item of listaTipoMeneda" value="{{item.idMoneda}}" >{{item.nombre}} ({{item.simbolo}}) </option>
              </select>-->
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" (click)="insertarProducto()" class="btn btn-success" >Guardar</button>  
          <button  type="button" class="btn btn-danger" (click)="cerrarModalNProduct()" >Cancelar</button>
        </div>
        
      </div>
    </div>
</div>

<div class="modal" id=modalCompra [ngStyle]="{'display': mdlIsOpenCompra == true ? 'block' : 'none' }" >
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Registar compra</h4>
        <button type="button" class="close" (click)="mdlIsOpenCompra = false">x</button>
      </div>

      <!--Cuerpo-->
      <div class="modal-body">
        <div class="form-group">
          <p>Producto seleccionado: <strong>{{productCompra.nomProducto}}</strong></p>
          <!--; precio registrado: <strong>{{productCompra.simboloMoneda}}{{precioProducSelect}}</strong>-->
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4"> 
              <p>Cantidad</p> 
            </div>
            <div class="col-sm-8"> 
              <input type="number" class="form-control" [(ngModel)]="productCompra.stock"  (keyup)="calcularPrecio()">
            </div>

            <div class="col-sm-4"><p>Precio unitario</p></div>
            <div class="col-sm-8">
              <input type="number" class="form-control" [(ngModel)]="productCompra.PrecioUnidad" (keyup)="calcularPrecio()"  >
            </div>

            <div class="col-sm-4"><p>Costo total S/.</p></div> 
            <div class="col-sm-8">
              <input type="number" class="form-control" style="width:100%; display: inline;" [(ngModel)]="productCompra.PrecioTotal">
              <!--<select class="form-control" style="width:40%; display: inline;" [(ngModel)]="productCompra.idMoneda" disabled>
                <option *ngFor="let item of listaTipoMeneda" value="{{item.idMoneda}}" >{{item.nombre}} ({{item.simbolo}}) </option>
              </select>-->
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="insertarCompra()" class="btn btn-success" >Guardar</button>  
        <button  type="button" class="btn btn-danger" (click)="mdlIsOpenCompra = false" >Cancelar</button>
      </div>
    </div>
  </div>
</div>