.card.full-card {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    z-index: 99999;
    border-radius: 0;
     
    width: calc(100vw) !important;
    height: 100vh !important;
    text-align: justify;
  }
  .aa{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    cursor: pointer;
}
 .row{
  margin-right: 0px;
  margin-left: 0px;
 } 

 .alinj{
   text-align: justify;
   width: 40%;
 }

 .contentScroll{
   
   max-height: 400px;
 }

 .tablScroll{
   overflow-y: scroll;
 }