/* You can add global styles to this file, and also import other style files */
.bodymodulo{
    padding: 1%;
    width: 100%;
}
.select{
  background-color: #5DADE2;
}

.padd1{
  padding: 1%;;
}
.padd2{
  padding: 2%;
}
.bodyG{
    font-family: "Mada", sans-serif;
    font-size: 14px;
    color: #535763;
    font-weight: 400;
    background: #f4f5fa;
    position: relative;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  }
  .panel-body {
    padding: 15px;
  }