<app-menu ></app-menu>
<div class="row bodymodulo" >
    
    <div class="col-md-10">
            <h3> bienes invetariados: </h3>
        <div class="table-responsive card">
            <table class="table ">
                <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Valor monetario</th>
                    <th>Tipo</th>                    
                    <th>Detalle</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Moto</td>
                        <td>$. 7 000</td>
                        <td>Mueble</td>
                        <td><i class="far fa-eye"></i></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Oficina</td>
                        <td>$. 70 000</td>
                        <td>Inmueble</td>
                        <td><i class="far fa-eye"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">
        <table>
            <thead>
                <th colspan="2">Resumen</th>
            </thead>
        </table>
    </div>

</div>