<app-menu></app-menu>


<div id="homeContainer"  >

  <button class="btn btn-primary" (click)="genPDF()" >PDF</button>

    <div class="bodymodulo" >

      <div class="jumbotron text-center homeContainer" >
        <!--<img src="assets/img/express.png" width="30%" >-->
        <h1>GRUPO EXPRESS</h1>

        
    </div>
    <div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner" style="width: 100%;" >
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-6">
              <h3>MISIÓN</h3>
              <p style="font-size: 20px; text-align: justify;">
                Somos uno empresa peruana, orientada a cuidar la calidad  de vida  de nuestros  consumidores, con responsabilidad social empresarial; ofreciendo un servicio de alimentación saludable y oportuna, diferenciado por la calidad de nuestros insumos, nuestro proceso y nuestro servicio orientado a satisfacer los expectativos de nuestros consumidores haciéndolos sentir  como  en cosa.
              </p>
              </div>
              <div class="col-sm-6">
                <img src="assets/img/express.png" alt="Misión">
                
              </div>
            </div>
            
          </div>
          
          <div class="carousel-item" style="width: 100%;">
            <div class="row">
              <div class="col-sm-6">
                <h3>VISIÓN</h3>
                <p style="font-size: 20px; text-align: justify;">
                  Empresa líder en su rubro a nivel país, diferenciada para cuidar la calidad de vida de sus consumidores tiendo como eje fundamental el desarrollo de buenas  prácticas en manufactura  e higiene alimentaria, garantizando un alto estándar en  la  calidad  de  nuestros Productos  y  servicios que superen las expectativas de nuestros consumidores haciéndolos sentir como en casa.
                </p>
              </div>
              <div class="col-sm-6">
                <img src="assets/img/express1.png" alt="Visión"> 
              </div>
            </div>
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    </div>
        
    </div>
</div>

