<app-menu ></app-menu>

<div class="row" style="padding: 1%;" >
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Lista Productos</h3>
            </div>
            <div class="panel-body">

              <div class="card">
                <strong style="padding-top: 8px; padding-left: 8px;">BUSCAR</strong>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      Nombre: <input type="text" placeholder="Todos" class="form-control" style="width:70%; display: inline;" [(ngModel)]="productoBusar.nomProducto"  (keyup)="obtenerProductos(1)" >
                    </div>
                    <div class="col-sm-6">
                      Categoría: 
                      <select class="form-control" style="width:70%; display: inline;" [(ngModel)]="productoBusar.idCategoriaProducto" (change)="obtenerProductos(1)" >
                        <option value="0" selected> Todos</option>
                        <option *ngFor="let item of listaCategoriaProducto" value="{{item.idCategoriaProducto}}">{{item.nombre}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <div class="table-responsive card contentScroll">
                <table class="table tablScroll"  >
                  <thead>
                  <tr>
                    <th>PRODUCTO</th>
                    <th >STOCK <a class="aa"  [ngClass]="{'fa-angle-double-down': productoBusar.ordeby == false, 'fa-angle-double-up': productoBusar.ordeby == true }" (click)="productoBusar.ordeby = !productoBusar.ordeby; obtenerProductos(1)"></a></th>
                    <th>Categoria</th>                        
                    <th style="text-align: center;">Pedir</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of listaProducto; let i = index" [ngClass]="{'select': filaSelectProducto == i }" >

                    <td>{{item.nomProducto}}</td>
                    <td>{{item.stock}} {{item.nombreUnidadMedida}}</td>
                    <!--<td>{{item.simboloMoneda}} {{item.precio}}</td> <i class="fas fa-angle-double-up"></i>-->
                    <td>{{item.nombreCategoria}}</td>
                    <td style="text-align: center;"> <a style="cursor:pointer;" (click)="regConsumoProducto(item.idProducto, i, item.nomProducto, item.precio, item.simboloMoneda, item.idMoneda, item.stock, item.idUnidadMedida);"  class="fas fa-shopping-basket"></a> </td>
                  </tr>
                  </tbody>
              </table>            
              </div>
              <div>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link aa" (click)="obtenerProductos(1)"  >Inicio</a></li>
                  
                  <li class="page-item" *ngFor="let item of pagProducto" > 
                    <a class="page-link aa" (click)="obtenerProductos(item)"  >{{item}}</a>
                  </li>
                  <li class="page-item"><a class="page-link aa" (click)="obtenerProductos(-1)" >Final</a></li>
                </ul>
              </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card padd2">
          <button class="btn btn-outline-success"  data-toggle="collapse" data-target="#div1"> Detalle pedido <i class="fas fa-list"></i></button>
          <div id="div1" class="collapse show">
            <div class="alert alert-danger" [ngStyle]="{'display': consumoInsert.IdConsumo == 0 ? 'block' : 'none' }">Debe seleccionar un pedido para poder realizar agregar compras (al pedido).</div>
            <hr>
            <a id="ckNuevoPedido"  (click)="nuevoPedido()" class="fas fa-plus-circle" style="font-size: 12px; cursor: pointer;" >Nuevo pedido!</a>
                <div class="row">                  
                  <div class="col-md-9">
                     <span>  {{mensajePedido}} </span> <input type="text" class="form-control inLine" [(ngModel)]="consumoInsert.Nombre">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-success" (click)="insertarConsumo()" >Guardar</button>
                  </div>
                  
                  <div class="col-md-12">
                    <br>
                    <div style="max-height: 200px;" class="table-responsive card" [ngStyle]="{'display': consumoInsert.IdConsumo == 0 ? 'none' : 'block' }">
                      <table class="table tablScroll" >
                        <thead>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Precio</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listaDetalleConsumo" >
                              <td>{{item.producto}}</td>
                              <td>{{item.cantidad}}</td>
                              <td>{{item.costoTotal}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
        
          <hr>
        <button class="btn btn-outline-success"  data-toggle="collapse" data-target="#div2"> Historial pedidos <i class="fas fa-clipboard-list"></i></button>
          <div id="div2" class="collpse show">
            

            <div class="table-responsive card" style="max-height: 300px;">
              <table class="table tablScroll ">
                <thead>
                <tr>
                  <th>NOMBRE</th>
                  <th>FECHA</th>
                  <th>COSTO</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listaConsumo; let i = index"  (click)="obtenerDetallePorPedido(item.idConsumo, i, item.nombre);" [ngClass]="{'select': filaSelectConsumo == i }"  >
                    <td>{{item.nombre}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.costoTotal}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
      </div>
    </div>
  </div>

  <div class="modal " [ngStyle]="{'display': mdlPedir == true ? 'block' : 'none' }">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Registar consumo</h4>
          <button type="button" class="close" (click)="mdlPedir = false">x</button>
        </div>

        <div class="modal-body">
          <p>Producto: <strong>{{productoSelect}}</strong>, Cantidad disponible: <strong>{{cantidadProdutoSelect}}</strong></p>
          
            <label>Cantidad</label>
            <input class="form-control" type="number" (keyup)="txtPedir()" [(ngModel)]="insertarDetalleConsumo.cantidad" >
            <select class="form-control" disabled [(ngModel)]="idUnidadMedidaSelect" >
              <option *ngFor="let item of listaUnidadMedida" value="{{item.idUnidadMedida}}" >{{item.unidadMedida}}</option>
            </select>

        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" (click)="guardarDetalleConsumo()" class="btn btn-success" >Guardar</button>  
          <button  type="button" class="btn btn-danger" (click)="mdlPedir = false" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>